# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Environment
.env
*.env

# Airflow
airflow.db
airflow.cfg
logs/
dags/__pycache__/
plugins/__pycache__/

# Docker
*.log
*.pid
*.seed
*.pid.lock
docker-compose.override.yml
docker-compose.*.yml

# Jupyter Notebook
.ipynb_checkpoints

# System Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/
.eggs/

# Miscellaneous
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp
*.old
*.orig
*.rej